<div>

   
   <img src="assets/images/viewlogo.png"/>

  

 
</div>
<nav class="navbar">
   <div class="container-fluid">
      <div class="navbar-header">
         {{#link-to 'home'}}   {{material-design-icon name='home'}} {{/link-to}}
      </div>
      <ul class="nav navbar-nav">
         <!--<li>{{#link-to 'sample'}}sample{{/link-to}}</li>-->
           <!--- <li>{{#link-to 'anothersample'}}another sample{{/link-to}}</li>-->
          <!--  <li><a href="http://www.youtube.com">Page 3</a></li>-->
      </ul>
   </div>
</nav>

<div class="bottom container-fluid">
<div class="container">
   {{outlet}}
</div>
</div>