<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h2>Review</h2>
<ul class="list-inline">
  <li>
    <label for="check_hate_crime" class="control-label" style="float:left;font-weight:bold !important;">Do you believe you are the victim of a crime because of your race, religion, sexual orientation, handicap, ethnicity or national origin?</label>
  </li>
  <br>
   <li>
    <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="1" required="">Yes</label>
  </li>
  <li>
     <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="0" required="">No</label>
  </li>
</ul>
<br>
<ul class="list-inline">
  <li>
    <label for="check_hate_crime" class="control-label" style="float:left;font-weight:bold !important;">Do you believe you are the victim of a crime because of your race, religion, sexual orientation, handicap, ethnicity or national origin?</label>
  </li>
  <br>
   <li>
    <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="1" required="">Yes</label>
  </li>
  <li>
     <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="0" required="">No</label>
  </li>
</ul>
<br>
<ul class="list-inline">
  <li>
    <label for="check_hate_crime" class="control-label" style="float:left;font-weight:bold !important;">Do you believe you are the victim of a crime because of your race, religion, sexual orientation, handicap, ethnicity or national origin?</label>
  </li>
  <br>
   <li>
    <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="1" required="">Yes</label>
  </li>
  <li>
     <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="0" required="">No</label>
  </li>
</ul>
<br>
<ul class="list-inline">
  <li>
    <label for="check_hate_crime" class="control-label" style="float:left;font-weight:bold !important;">Do you believe you are the victim of a crime because of your race, religion, sexual orientation, handicap, ethnicity or national origin?</label>
  </li>
  <br>
   <li>
    <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="1" required="">Yes</label>
  </li>
  <li>
     <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="0" required="">No</label>
  </li>
</ul>
<br>
<ul class="list-inline">
  <li>
    <label for="check_hate_crime" class="control-label" style="float:left;font-weight:bold !important;">Do you believe you are the victim of a crime because of your race, religion, sexual orientation, handicap, ethnicity or national origin?</label>
  </li>
  <br>
   <li>
    <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="1" required="">Yes</label>
  </li>
  <li>
     <label class="">
      <input class="radio" type="radio" name="check_hate_crime" value="0" required="">No</label>
  </li>
</ul>
<br>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br>
  <button type="button" class="btn btn-primary btn-lg btn-block">Submit your review to earn rewards</button>
{{!-- <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button> --}}
<br>
</div>