
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-9">
          <style>
            .jumbotron {
    width: 500px;
    background: url(https://images.yourstory.com/2016/08/Tourism-India.png);
    margin: 0 auto;
    height: 100%; 
}

</style>
           
          <div class="jumbotron">
            
            <h1>echo-Perks</h1>
            <p>Say Yes to India!!</p>
            
          <button type="button" class="btn btn-lg btn-primary" {{action "wallet"}} >My Wallet</button>
         {{!-- <button type="button" class="btn btn-secondary btn-lg" >Button</button> --}}
          
          </div>
          
          <div class="row">
          
            <div class="col-6 col-lg-4">
              <h2>{{#link-to "place"}}Discover Destination{{/link-to}}</h2>
              <p> India is most-visited corners – and little wonder, given that it's replete with towering forts, colossal palaces, striking desert landscapes and other ancient vestiges of its regal past. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-6 col-lg-4">
              <h2>{{#link-to "place"}}Food{{/link-to}}</h2>
              <p>It is also known for its snacks like Bikaneri Bhujia, Mirchi Bada and Pyaaj Kachori. Other famous dishes include Bajre ki roti (millet bread) and Lashun ki chutney (hot garlic paste). </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-6 col-lg-4">
              <h2>{{#link-to "place"}}Transport{{/link-to}}</h2>
              <p>Rajasthan State Road Transport Corporation (RSRTC) is a public transport company which provides bus services in the Indian state Rajasthan. It is headquartered in Jaipur, Rajasthan. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            
            <div class="col-6 col-lg-4">
              <h2>{{#link-to "nominate"}}Local to Global Reach{{/link-to}}</h2>
              <p>This category shows that promotion of local events to reach up to  global level. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>
        </div><!--/span-->

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
  
          <div class="list-group">
            <a href="#" class="list-group-item active">Maharashtra</a>
            <a href="#" class="list-group-item">Delhi</a>
            <a href="#" class="list-group-item">Rajasthan</a>
            <a href="#" class="list-group-item">Pune</a>
            <a href="#" class="list-group-item">Madhyapradesh</a>
           
          </div>
        </div>
      </div>
      <hr>
       
      <style>
    .responsive {
    width: 100%;
    height: auto;
}
    </style> <footer>
        <p>&copy; Company 2017</p>
      </footer>

    <!--/.container-->
        {{!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script> --}}
