<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
{{!-- <div class="jumbotron jumbotron-fluid"> --}}
  <div class="container">
    <div class="jumbotron">
    <h1 class="display-3">Tourist wallet</h1>
    <h2><strong>Available Balance:</strong></h2>
    <p>0.0 tokens</p>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block">Redeem</button>
    <br>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block">Go back to home page</button>
    </div>
    <p class="lead">review token.</p>
  </div>
