<div class="container">
   <div class="header clearfix">
    
      <h3 class="text-muted">Nomination of Local Place</h3>
   </div>
<div class="jumbotron">
      <h2>Umaid Heritage Art School</h2>
               <p>Umaid Heritage Art School is an art gallery and school focusing on traditional and modern art works.Umaid Heritage Art School is located in the heart of Jodhpur. 
                   Here you will find free art lessons on traditional Rajasthani Fine Miniature art by Vijay Raj,
                   who specializes in Rajasthani Miniature Painting,sketching and portraits lessons by Gaurav Solanki a fine artist of graphite and charcoal.Travelers stop by for some chai tea, free miniature painting lessons, and sketching lessons.Art work on oil and water color,and all other possible mediums are practiced here.Art collaborations with the travelers are always welcomed.Sharing Art Is Always Welcomed With Love And Respect.
               </p>
               <strong>place:</strong>Jaipur
               <br>
               <strong>nominate:</strong>
               <p>Tourist: <span class="glyphicon glyphicon-user"></span>Alex Gomes</p>
               I would like to nominate this place as global reach because as its 
               having very good service and people are having lots of talent to show innovative arts.
               <br>
   </div>
   <div class="row marketing">
      <div class="col-lg-4">
         <h4>Making arts at home</h4>
         
         <img src="https://media-cdn.tripadvisor.com/media/photo-f/12/2e/57/76/miniature-paintings.jpg" class="responsive" alt="Cinque Terre">
            <br>
         <br>
            
         <style>
            img {
            display: block;
            width:90%;
            height:90%;
            }
         </style>
      </div>
      <div class="col-lg-4">
         <h4>Traditional and modern art work</h4>
         
          <img src="https://media-cdn.tripadvisor.com/media/photo-f/11/e5/d9/96/photo1jpg.jpg" class="responsive" alt="Cinque Terre">
         <br>
         <br>
         
      </div>
      <div class="col-lg-4">
         <h4>other pictures</h4>
         
          <img src="https://media-cdn.tripadvisor.com/media/photo-f/11/e5/d9/99/photo4jpg.jpg"  class="responsive" alt="Cinque Terre">
         <br>
         <br>
         
      </div>
   </div>
   <br>
   
   <br>
   
</div>
<!-- /container -->
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<br>


