<head>
    
    <!-- Font Awesome Icon Library -->

    </head>      
         <div class="container">

<h1>Lavani Event</h1>
<strong>Enjoy your tourism with this maharashtra's famous event</strong>
<p>Dance of maharashtra originates from maharashtra,which particularly performed to the beats of Dholki, a percussion instrument. Lavani is noted for its powerful rhythm. Lavani has contributed substantially to the development of Marathi folk theatre..</p>
<strong>place:</strong>Dadar(Mumbai)<br>
<strong>Date:</strong>20 March 2018<br>

<strong>Time:</strong>9:30pm 

<div class="row">
  <div class="column" style="background-color:">
     <h1>Review here for current event</h1>
     <button type="button" class="btn btn-primary btn-lg"{{action "feedbackpage"}}>Your Review</button>
    {{!-- <h1>{{#link-to 'feedback'}}Your Review{{/link-to}}</h1> --}}
    <p>Give your valuable feedback to earn rewards.</p>
  </div>
  <div class="column" style="background-color:">
     <h1>Book Your Event</h1>
     <button type="button" class="btn btn-primary btn-lg"{{action "eventbook"}}>Book event</button>
    <p>Book your event by clicking here....</p>
</div>
</div>
<br>
<div class="row">
  <div class="column" style="">
    <h1>Location</h1>
    <p>Find the location of place...</p>
  </div>
  
  <div class="column" style="">
      <h1 id="about">About this event</h1>
      <button type="button" class="btn btn-primary btn-lg">Description</button>
    {{!-- <p>Some text..</p> --}}
</div>
</div>
<br>
<div class="row">
  
  <div class="column" style="background-color:;">
    <h2>{{#link-to 'eventcontact'}}Contact us{{/link-to}}</h2>
    <p>click here to contact with us</p>
  </div>
  <div class="column" style="background-color:;">
    {{!-- <h2>Other</h2>
    <p>Some text..</p> --}}
  </div>
</div>
<h1>Previous Reviews</h1>
<span class="heading">User Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>4.1 average based on 254 reviews.</p>
<hr style="border:3px solid #f1f1f1">
<div class="row" style="margin-left: -5px;margin-right: -20px;">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>150</div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>63</div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>15</div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>6</div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>20</div>
  </div>
</div>

 <style>
.checked {
    color: orange;
}
</style>
{{!-- average --}}

<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 13%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 80%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}
</style>
{{!-- average ratings --}}
<div class="content">
  <div class="row" style="margin-left: 1px;margin-right: -15px;">
<strong>Top Tourist Reviews</strong>
 <p>Tourist: <span class="glyphicon glyphicon-user"></span>Jonathon simons</p>
<h2>Star Rating</h2>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<br>
3.0 out of 5 Lavani Dance event<br>
November 11, 2016<br>
Lavani Dance|Verified

Hey,
Guys this even is pretty awesome and place also very nice,
i would like to say that whenever you come to Maharashtra.
please visit this place .
Thanks

</div>
</div>
     
<style>
* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column  {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column  {
        width: 50%;
    }
}
</style>
<br>
<p>Tourist: <span class="glyphicon glyphicon-user"></span>Alex</p>
<h2>Star Rating</h2>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<br>
{{LastReview}}

<br>
   </div>
      
{{outlet}}

