
<div class="container">
<div class="content">
  <link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'>
<style>
body {
    font-family: 'Bubblegum Sans';font-size: 22px;
}
</style>
  {{!-- <div class="row">
  <div class="column">
    <img src="http://darter.in//wp-content/uploads/2013/09/rajasthan-photography-tour-32.jpg"  style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  </div> --}}
   {{!-- <img class="img-fluid mb-5 d-block mx-auto" src="http://darter.in//wp-content/uploads/2013/09/rajasthan-photography-tour-32.jpg" height="300" width="300" alt=""><a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a> --}}
  <h2 class="red-text text-center">Discover Destination</h2>
  <style>
    .responsive {
    width: 100%;
    height: auto;
}
    </style>
  {{!-- <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> --}}
    <img src="http://www.vartile.com/wp-content/uploads/2014/03/1MTDC-300x210.jpg" class="responsive" alt="Cinque Terre"> 
  <br>
  <br>
  <div class="row">
    <div class="col-sm-1">
      </div>
    <div class="well well-sm"><h3><i>Discover the land of maharaja's </i></h3>
    <div class="text-nowrap" style="width: 8rem;">
  This text should overflow the parent.
</div>
</div>
{{!-- display icon --}}
<style>
  </style>
<h2>Equal Height Columns</h2>
<p>Make the columns match the height of the tallest column.</p>

<div class="col-container">
  <div class="col" style="background:yellow">
    <h2>Forts</h2>
    <p>The six Hill Forts of Maharashtra, </p>
    <p>spread across Maharashtra  </p>
    <p>state in northern India</p>
    <p>clustered together as a designated </p>
    <p>UNESCO World Heritage Site.</p>
   
  </div>

  <div class="col" style="background:orange">
    <h2>Wild Life</h2>
    <p>Wildlife traditionally refers to undomesticated animal species,</p>
    <p>and other organisms that grow or live wild in an </p>
  <p>but has come to include all plants, fungi, </p>
  <p>area without being introduced by humans.</p>
  </div>
</div>
<br>
<div class="col-container">
  <div class="col" style="background:yellow">
    <h2>Local places</h2>
    <p>Jaipur City Palace.
Elephant ride to Amer Fort.
Peace by Lake Pichola in Udaipur.
City Palace, Udaipur.
The blue city.
Umaid Bhawan Palace.
Camel safari in Jaisalmer.
On the streets of Jaisalmer, inside forts.</p>
    
  </div>

  <div class="col" style="background:orange">
    <h2>{{#link-to 'SpecificPlace'}}Explore More{{/link-to}}</h2>
    <p>Maharashtra is appropriately named as “the Land of Kings”.</p>
    <p>It is indeed one of the most beautiful states of India replete with lavish palaces </p>
  </div>
</div>

  </div>
    <style>
.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
</style>
<br>
<br>
<p><b>Note:</b> In this application tokens awarded to tourist on his feedback or proper review.</p>

<div class="newspaper">
The Government of Maharashtra today shared the digital vision for the state at an event hosted by Cisco in the capital city of Jaipur. At the event, Honorable Chief Minister of Rajasthan, Shrimati Vasundhara Raje outlined her vision of a digital future for Rajasthan by leveraging Information and Communication Technology (ICT) to enable good governance, a better quality of life and increased employment opportunities in the presence of Shikhar Agrawal, Commissioner, Jaipur Development Authority; Sanjay Malhotra, Principal Secretary, Energy Department, Government of Rajasthan; and Mr. Dinesh Malkani, President, Cisco India and SAARC..
</div>
</div>
</div>




{{!-- <div class="row row-offcanvas row-offcanvas-right"> --}}
   {{!-- <div class="col-sm-12  col-md-12  col-lg-12  col-xs-12">
      
        <h4>Dashboard</h4>
        <img src="http://darter.in//wp-content/uploads/2013/09/rajasthan-photography-tour-32.jpg"  alt="placeholder 960" class="img-responsive" style="" />
     
     
      </div> --}}
          {{!-- <p class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p> --}}
          {{!-- <div class="jumbotron">    --}}
              {{!-- <button {{action 'process'}}>feedback</button> integration done for feedback    --}}
         
   
{{outlet}}