<div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          {{!-- <p class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p> --}}
          <div class="jumbotron">   
              <button {{action 'process'}}>feedback</button>    
           
  <img src="http://darter.in//wp-content/uploads/2013/09/rajasthan-photography-tour-32.jpg" class="img-thumbnail" alt="Cinque Terre" style="width:500px;height:300px"> 

</div>
</div>
</div>


{{outlet}}
