<div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          {{!-- <p class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p> --}}
          <div class="jumbotron">  
              </div>
              </div>
              </div>
{{outlet}}
