      
          <div class="container">
         <div class="content">
<h2><i>Explore More Attraction</i></h2>
<div class="jumbotron">
<div class="row">
  <div class="column" style="">
    <h2>{{#link-to 'oldreview'}}sufi songs{{/link-to}}</h2>
    <p>Sufi music is the devotional music of the Sufis,<br>
       inspired by the works of Sufi poets.<br>
      </p>
  </div>
  <div class="column" style="">
     <img src="https://www.greavesindia.co.uk/wp-content/uploads/2016/11/jodhpur_sufi_music_festival_first_assembly-44.jpg" class="responsive" alt="Cinque Terre"> 
  
</div>
</div>
</div>
<br>
<div class="jumbotron">
<div class="row">
  <div class="column" style="">
    <h2>Camel Ride</h2>
    <p>The dromedary has a single hump and lives mostly in Africa while <br>
      the camel has two humps and is found mainly in Asia....<br>
       Our ride is thus carried by dromedary and not camel.<br>
     </p>
  </div>
  <div class="column" style="">
     <img src="http://minartravels.net/wp-content/uploads/2014/01/Camel-Ride.jpg" class="responsive" alt="Cinque Terre"> 
  
</div>
</div>
</div>
<br>
<div class="jumbotron">
<div class="row">
  <div class="column" style="">
    <h2>Kathputli Show</h2>
    <p>Kathputli is a join of two rajasthani language words Kath meaning wood and <br>
      Putli meaning a doll which has no life.<br>
      Kathputli means a puppet which is made entirely from wood. <br>
     </p>
  </div>
  <div class="column" style="">
     <img src="http://www.rajasthanvisit.com/Images/Kathputlidance9.jpg" class="responsive" alt="Cinque Terre"> 
  
</div>
</div>
</div>
    <style>
      img {
  display: block;
  max-width: 100%;
  height: 100%;
}
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>

   </div>
      </div>
{{outlet}}
